@import '../../index.scss';

#bookmark-dropdown-button {
  background-color: transparent;
  border: none;
  padding: 0;
  text-transform: uppercase;
  font-size: $size-sm;

  &:hover,
  &:focus {
    color: $color-primary-400;
  }
}

#bookmark-menu {
  width: 20rem;
  background-color: $color-dark;
  color: $color-light;
}

.bookmark-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: $size-sm;
  padding: $size-xs $size-sm;
}

.bookmark-link,
.bookmark-link:visited,
.bookmark-link:active {
  text-decoration: none;
  color: $color-light;
  font-size: $size-sm;
  font-weight: 400;
  text-transform: uppercase;
}

.bookmark-link:hover {
  color: $color-primary-400;
}

.bookmark-remove-icon {
  fill: $color-primary-400;
  cursor: pointer;
}

.no-bookmarks {
  padding: $size-sm;
  text-align: center;
  color: gray;
}

@media (min-width: $lg) {
  #bookmark-dropdown-button {
    font-size: $size-base;
  }

  #bookmark-menu {
    width: 35rem;
  }

  .bookmark-container {
    padding: $size-sm $size-base;
  }

  .bookmark-link {
    font-size: $size-base;
  }
}
