@import '../index.scss';

.discover-container {
  display: flex;
  flex-direction: column;
  padding: $size-8xl $size-xl;
  max-width: $xxl;
  margin: 0 auto;
}

.discover-main {
  display: grid;
  grid-template-columns: 100%;
}

.filters-sidebar {
  display: none;
}

.movie-display {
  grid-column: span 1;
}

.rows-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: $size-2xl;
}

@media (min-width: $lg) {
  .discover-container {
    padding: 10rem $size-2xl;
  }
}
