@import '../../index.scss';

.thumbnail-card {
  min-width: 10rem;
  background-color: $color-dark;
  cursor: pointer;
  position: relative;
}

.thumbnail-card__poster {
  width: 100%;
}

.thumbnail-bookmark {
  position: absolute;
  top: -2px;
  right: $size-2xs;
  cursor: pointer;
  font-size: $size-xl;
}

.thumbnail-rating {
  position: absolute;
  bottom: $size-2xs;
  right: $size-2xs;
  background-color: $color-dark;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  font-size: $size-base;
  color: $color-light;
  font-weight: $font-bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
