@import '../index.scss';

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.5);
  width: 100%;
  z-index: 100;
}

.header-bg {
  background-color: $color-dark;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $size-base $size-sm;
}

.header-content__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: $size-base;
}

.header-logo,
.header-logo:visited,
.header-logo:active,
.header-logo:focus,
.header-logo:hover {
  color: $color-light;
  font-size: $size-lg;
  font-weight: 400;
  text-decoration: none;
}

.header-logo span {
  color: $color-primary-400;
  font-weight: 600;
}

.header-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}

.header-links__item,
.header-links__item:visited,
.header-links__item:active {
  text-decoration: none;
  color: $color-light;
  font-size: $size-sm;
  font-weight: 400;
  text-transform: uppercase;
}

.header-links__item:hover,
.header-links__item:focus {
  color: $color-primary-400;
  transition: all;
  transition-duration: 0.3s;
}

.header-content__right {
  display: flex;
  align-items: center;
  column-gap: $size-base;
}

.search-icon {
  color: $color-light;
  font-size: $size-lg;
  cursor: pointer;
}

@media (min-width: $md) {
  .header-content {
    padding: $size-base $size-base;
  }

  .header-content__left {
    column-gap: $size-xl;
  }
}

@media (min-width: $lg) {
  .header-content {
    padding: $size-base $size-xl;
  }

  .header-content__left {
    column-gap: $size-2xl;
  }

  .header-logo,
  .header-logo:visited,
  .header-logo:active,
  .header-logo:focus,
  .header-logo:hover {
    font-size: $size-xl;
  }

  .header-links__item,
  .header-links__item:visited,
  .header-links__item:active {
    font-size: $size-base;
  }
}
