@import '../index.scss';

.heading-container {
  display: flex;
  flex-direction: column;
  margin-bottom: $size-5xl;
  width: 100%;
}

@media (min-width: $md) {
  .heading-container {
    width: 66%;
  }
}
